
.DS_Store
.vscode/
Misura_velocita/prova_con_if.pdf
Misura_velocita/prova_senza_if.pdf
Misura_velocita/amplitude_walk.cpp
Misura_velocita/amplitude_walk
Misura_velocita/Dati_tdcadc_prova_con_if.txt
Misura_velocita/Dati_tdcadc_prova_senza_if.txt
anno_21-22
